<ion-header>
  <ion-toolbar>
    <ion-title>
      Candidatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="this.formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input
        placeholder="Nombre"
        formControlName="newCandidateName"
      ></ion-input>
      <ion-button type="submit" color="primary" [disabled]="!formGroup.valid">
        Agregar
      </ion-button>
    </ion-item>
  </form>

  <ion-grid>
    <ion-row
      *ngFor="let candidate of (this.globalStore.coffeeElectionStore.state$ | async).candidates"
    >
      <ion-col style="line-height: 41px;">{{ candidate.name }}</ion-col>
      <ion-col style="line-height: 41px;">Votes: {{ candidate.votes }}</ion-col>

      <ion-col>
        <ion-button
          color="primary"
          (click)="this.globalStore.coffeeElectionStore.addVote(candidate)"
        >
          +
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="danger"
          (click)="this.globalStore.coffeeElectionStore.removeCandidate(candidate)"
        >
          Eliminar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
