<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-input placeholder="Nombre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-button color="primary">Agregar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <form novalidate [formGroup]="this.formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input
        placeholder="Nombre"
        formControlName="newCandidateName"
      ></ion-input>
      <ion-button type="submit" color="primary" [disabled]="!formGroup.valid">
        Agregar
      </ion-button>
    </ion-item>
  </form>
  <ul>
    <li
      *ngFor="let candidate of (this.globalStore.coffeeElectionStore.state$ | async).candidates"
    >
      <span>{{ candidate.name }}</span>
      <span>Votes: {{ candidate.votes }}</span>
      <button (click)="this.globalStore.coffeeElectionStore.addVote(candidate)">
        +
      </button>
    </li>
  </ul>
</ion-content>
